.port-nav {
  display: flex;
}

.port-nav li {
  text-decoration: none;
  list-style: none;
}

.port-nav a {
  text-decoration: none;
  color: var(--title);
}

.port-list .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
}

.port-list .type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text);
}
