/* Fonts */

/* raleway*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/raleway/raleway/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fontsraleway//raleway-v18-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}

/* roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot") format("embedded-opentype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

:root {
  --logo-web: #2196f3;
  --background-color: #f5f4fa;
  --text: #757575;
  --white: #ffffff;
  --logo-header: #000000;
  --title: #212121;
}

/* Body Header Footer */

body * {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text);
}

header * {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: inline-block;
}

footer * {
  text-decoration: none;
}

header ul a:hover,
header ul a:focus {
  color: var(--logo-web);
}

.site-nav li {
  padding-right: 50px;
}

.site-nav {
  padding-left: 93px;
}

.site-nav a {
  color: var(--logo-header);
}

.mailtel-nav {
  padding-left: 281px;
  color: var(--text);
}

.mailtel-nav .tel {
  padding-left: 50px;
}

.logo-web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-web);
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-header);
}

/* Hero section */

.hero-section {
  background-color: #2f303a;
  position: center;
  width: 1600px;
  height: 600px;
  padding: 0;
  margin: 0;
}

.hero-text {
  background-color: #2f303a;
  padding-top: 200px;
  padding-left: 452px;
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.hero-button {
  margin-left: 700px;
  margin-bottom: 200px;
  padding: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: var(--logo-web);
}

.hero-buttext {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Feature list section */

.feature-list .title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title);
}

.list {
  list-style: none;
}

.feature-list .text {
  line-height: 1.71;
  color: var(--text);
}

/* What we do */

.about-us .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title);
}

/* Our team */

.our-team .title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title);
}

.our-team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title);
}

.our-team .profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text);
}

/* Footer */

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--white);
}

.footer {
  width: 1600px;
  height: 192px;
  background-color: #2f303a;
  padding-left: 215px;
  padding-top: 60px;
}

.footer .adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
}

.footer .list li {
  margin-bottom: 9px;
}

.footer .list {
  padding: 0;
}

.footer .mail {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer .tel {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* Porfolio Page */

.port-nav li {
  text-decoration: none;
  list-style: none;
}

.port-nav a {
  text-decoration: none;
  color: var(--title);
}

.port-list .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
}

.port-list .type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text);
}
